h1 {
  font-size: 30px;
  text-align: center;
  color: #ff0000;
}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #242424;
  background-color: white;
}

mark {
  background-color: yellow;
  color: black;
}

